<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="mobileClientAppService"
		class="com.renren.mobile.mcp.api.service.impl.MobileClientAppServiceImpl">
<!-- 		<property name="appInfoDAO" ref="appInfoDAO" /> -->
<!-- 		<property name="appMethodsWhiteListDAO" ref="appMethodsWhiteListDAO" /> -->
	</bean>

	<!-- 
	<bean id="passportService"
		class="com.renren.mcp.soundsns.passport.service.impl.PassportServiceImpl">
	</bean>
 	-->

	<bean id="commandLookupService"
		class="com.renren.mobile.mcp.api.service.impl.CommandLookupServiceImpl">
		<property name="apiMapByConfig" ref="apiCommandMap" />
		<property name="ticketUnnecessaryApiSet" ref="ticketUnnecessaryApiSet" />
	</bean>

<!-- hessian service -->
	<bean id="userService"
		class="com.tg.client.UserServiceDelegate">
	</bean>
	
	<bean id="inviteEventService"
		class="com.tg.client.InviteEventServiceDelegate">
	</bean>

	<bean id="guideEventService"
		class="com.tg.client.GuideEventServiceDelegate">
	</bean>
	
	<bean id="resourceService"
		class="com.tg.client.ResourceServiceDelegate">
	</bean>
	<bean id="passportService"
		class="com.tg.client.PassportServiceDelegate">
	</bean>
	<bean id="pushService"
		class="com.tg.client.PushServiceDelegate">
	</bean>


</beans>